estilo de imput para input personalizade del documentos.edit*/
.custom-input-file input[type=file] {
  opacity: 1;
  width: 100%;
  height: 100%;
  border:1px solid #999 !important;
  border-color: #898d9a !important;
  border-radius: 0.4285rem;
  padding: 0.5em;
  cursor: pointer;
  margin-bottom: 0.5em;
}

.texto-carousel {
  color: #000000 !important;
  text-shadow:  1px 1px 5px #ffffff;
  -webkit-text-stroke: 0.5px white;
  font-weight: bold;
  font-family:'Helvetica','Verdana','Monaco',sans-serif;
  font-style:italic;
}

.texto-login {
  color: #ffffff !important;
  text-shadow:  1px 1px 3px #ffffff;
  /* -webkit-text-stroke: 0.5px white; */
  font-weight: bold;
  font-family:'Helvetica','Verdana','Monaco',sans-serif;
  font-style:italic;
}

.table{
  position: relative !important;
  width: 100% !important;
}

.card-new {
  background-color: rgba(0, 0, 0, 0) !important;
}

.input-new {
 /* background-color: rgba(215, 216, 216, 0.32);*/
  border-color: #FFFFFF !important;
  /*border: solid 1px;
  border-radius: 15%;
  width:100%*/;
  color: #fff !important;
  
}

.input-big {
  background-color: rgba(215, 216, 216, 0.32);
  border-radius: 7%;
}

#font-color {
  color: #FFFFFF;
  font: serif;
  border-color: #000000;
}

#font-type {
  font: 5em sans-serif;
  color: #247bf7;
  text-align: center;
}

.color-placeholder::placeholder {
  color: #fff !important; 
  font-weight: bold; 
}

#logo-prosarc {
  margin: -2em 0em 0em 6.5em;
}

#text-carousel {
  color: #FFFFFF;
}

.botones-conoce {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: solid 3px black;
  box-shadow: 5px;
  margin: 10px 10px 10px 10px;
}

.div-conoce-pro {
  background-image: linear-gradient(to bottom right, #00b2ff, #38c2fe, #6cd2fe);
  border-radius: 10px;
  box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 
  15px 15px 16px gray;
  border: 1px solid #0099db;
  margin: 3em 0em 3em 0em;
}

.div-slider-pro {
  background-image: linear-gradient(to bottom right, rgb(230, 244, 255), rgb(243, 250, 255), rgb(250, 253, 255), white);
  border-radius: 10px;
  box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 
  15px 15px 16px gray;
  border: 1px solid silver;
  margin: 0em 0em 3em 0em;
}

.div-comites-ahora {
  background-image: linear-gradient(to bottom right, #5efc03, #81ff39, #a3ff6e);
  border-radius: 10px;
  box-shadow:  inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 
  15px 15px 16px gray;
  border: 1px solid #6cd630;
  margin: 3em 0em 3em 0em;
}


.degradado {
  background: linear-gradient(to right, #040404, #040404);
  z-index: 3 !important;
  position: fixed;
  min-height: 100%;
}

#particles-js {
  width:100%;
  height:100%;
  position: fixed;
  z-index: 4 !important;
  background: transparent;
}

.position-login {
  z-index: 5 !important;
  display: block !important;
  position: fixed;
  background-image: radial-gradient(#040404, #040404, #040404, #040404, transparent, transparent);
}

.imagen-fondo {
  background-image: linear-gradient(to right, #040404, #040404, transparent, transparent),
   url("https://picsum.photos/960/540") !important;
  /*background-attachment: fixed;*/
  background-size: cover;
  position: fixed !important;
  z-index: 2 !important;
  min-height: 100%;
}


.mision {
  background-image: linear-gradient(to bottom right, #00b2ff, #38c2fe, #6cd2fe) !important;
  border-radius: 10px;
  box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 
  15px 15px 16px gray !important;
  border: 1px solid #0099db;
  margin: 2em 2em 2em 2em;
  padding: 3em 3em 3em 3em;
}

.vision {
 background-image: linear-gradient(to bottom right, #00b2ff, #38c2fe, #6cd2fe) !important;
 border-radius: 10px;
 box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 
 15px 15px 16px gray !important;
 border: 1px solid #0099db;
 margin: 2em 2em 2em 2em;
 padding: 3em 3em 3em 3em;
}

.objetivos {
  background-image: linear-gradient(to bottom right, #ff8000, #fe962d, #ffa851) !important;
  border-radius: 10px;
  box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 
  15px 15px 16px gray !important;
  border: 1px solid #dc7d1d;
  margin: 4em 0em 4em 0em;
  padding: 3em 3em 3em 3em;
}

.politicas {
  background-image: linear-gradient(to bottom right, #63ff00, #82ff31, #9eff60) !important;
  border-radius: 10px;
  box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 
  15px 15px 16px gray !important;
  border: 1px solid #4cc400;
  margin: 3em 0em 3em 0em;
  padding: 3em 3em 3em 3em;
}

.imagen-prosarc {
  border-radius: 10px;
  box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 
  15px 15px 16px gray !important;
  border: 1px solid  rgba(0,0,0,.3);
}

.responsive {
  width: auto;
  max-height: 100%;
}

.requi-legal {
  padding: 0em 3em 0em 3em;
}

.title-gestion {
  margin: -2em 3em 0.8em 3em;
}

.gestion-bodys{
  margin: 0em 1.5em 0em 1.5em;
}

.boton-eliminar {
  margin: 0em 0em 0em 1em;
}

.boton-editar {
  margin: -5em 1em 0em 0em;
}

.b-create {
  margin: 0em 0em 0em 1em;
}

.negrilla {
  font-weight: 400;
}

.recuadro {
  border: solid 5px #ceeaff;
  background-color: #ceeaff;
  margin: 2px;
  border-radius: 3px;
}

.recuadro-2 {
  border: solid 5px #d2ffce;
  background-color: #d2ffce;
  margin: 2px;
  border-radius: 3px;
}

.index-indicators-1 {
  background: #e7e7e7; 
  border-radius: 5px; 
  margin: 2.5em 2.5em 2.5em 2.5em;
}

.height-img-index {
  min-height: 180px;
}

.card-style {
  background-color: transparent !important;
  height: 25em;
}

.actividades {
  background-color: #FFFFFF;
  margin: 5px 5px 5px 5px;
  border-radius: 10px;
  box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 
  5px 5px 6px gray !important;
  border: 1px solid  rgba(0,0,0,.3);
}

.procesos {
  background-color: #FFFFFF;
  margin: 5px 5px 5px 5px; 
  border-radius: 10px;
  box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 
  5px 5px 6px gray !important;
  border: 1px solid  rgba(0,0,0,.3);
}

.letra-titulo {
  font-family: 'lora';
  font-size: 1rem;
}

.letra-contenido {
  font-family: 'inria serif';
  font-size: 1rem;
  color: #000000;
}

.alto {
  height: 353px;
  min-height: 153px;
}

.specialshadow1{
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

.specialshadow1hover:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  transition-duration: 0.3s !important;

}

.specialshadow1click:active {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24),0 1px 3px 0 rgba(0,0,0,0.19);
  transition-duration: 0.3s !important;
}

.specialshadow2{
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 17, 225, 0.2), 0 3px 10px 0 rgba(0, 17, 225, 0.19);
}

.specialshadow2hover:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 17, 225, 0.24),0 17px 50px 0 rgba(0, 17, 225, 0.19);
  transition-duration: 0.3s !important;
}

.specialshadow2click:active {
  box-shadow: 0 1px 2px 0 rgba(0, 17, 225, 0.24),0 1px 3px 0 rgba(0, 17, 225, 0.19);
  transition-duration: 0.3s !important;
}
#contenedor_carga{
  background-color: #ecf0f5;
  height: 100vh;
  width: 100vw;
  position: fixed;
  transition: all 1s ease;
  z-index: 10000;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
#contenedor_carga img{
  width: 100%;
  height: 100%;
}
@keyframes superior {
  0%{
    transform: translate(0,-10rem);
    opacity: 0;
  }
  75%{
    transform: translate(0,0);
    opacity: 1;
  }
  100%{
    transform: translate(0,0);
    opacity: 0;
  }
}
@keyframes derecho {
  0%{
    transform: translate(10rem,0);
    opacity: 0;
  }
  75%{
    transform: translate(0,0);
    opacity: 1;
  }
  100%{
    transform: translate(0,0);
    opacity: 0;
  }
}
@keyframes izquierdo {
  0%{
    opacity: 0;
    transform: translate(-10rem,0);
  }
  75%{
    transform: translate(0,0);
    opacity: 1;
  }
  100%{
    transform: translate(0,0);
    opacity: 0;
  }
}
@keyframes inferior1 {
  0% {
    transform: rotateY(180deg) translate(0,10rem);
    opacity: 0;
  }
  75% {
    transform: rotateY(0deg) translate(0,0);
    opacity: 1;
  }
  100%{
    transform: rotateY(0deg) translate(0,0);
    opacity: 0;
  }
}
@keyframes inferior2 {
  0%{
    transform: translate(0,10rem);
    opacity: 0;
  }
  75%{
    transform: translate(0,0);
    opacity: 1;
  }
  100%{
    transform: translate(0,0);
    opacity: 0;
  }
}
#Superior{
  position: relative;
  top: 1rem;
  animation: superior 2s infinite;
  height: 4.5rem;
  width: 9rem;
}
#Derecho{
  position: relative;
  animation: derecho 2s infinite;
  height: 5.4rem;
  width: 5.8rem;
  top: -1.4rem;
  left: 3rem;
}
#Izquierdo{
  position: relative;
  animation: izquierdo 2s infinite;
  height: 4.8rem;
  width: 8.5rem;
  top: -6rem;
  left: -0.9rem;
}
#Inferior1{
  position: relative;
  animation: inferior1 2s infinite;
  height: 2.5rem;
  width: 9.9rem;
  top: -6.7rem;
  left: 0.5rem;
}
#Inferior2 {
  position: relative;
  animation: inferior2 2s infinite;
  height: 2.5rem;
  width: 7.9rem;
  top: -7.8rem;
}
@media screen and (max-width:640px) {
  #contenedor_carga>center{
    transform: scale(2);
    margin-top: 50%;
  }
}
@media screen and (max-width:1024px) and (min-width:640px) {
  #contenedor_carga>center{
    transform: scale(2.5);
    margin-top: 50%;
    margin-right: 30%;
  }
}
@media screen and (min-width:1024px) {
  #contenedor_carga>center{
    transform: scale(3);
    margin-top: 20%;
    margin-right: 15%;
  }
}


.margen {
  border: solid 0.5px #555555;
}

.color {
 /* background-color: rgba(74, 229, 37, .7);*/
 background: linear-gradient(to bottom right, #3bbe78, #4bd28a, #5ee29c);
}

.color1 {
  /*background-color: rgba(87, 192, 199, .7);*/
  /*background: linear-gradient(to bottom right, #535fc9, #636fd9, #727de7);*/
  background-color: #007eb7;

}

.color1-1 {
  /*background-color: rgba(255, 127, 63, .7);*/
  /*background: linear-gradient(to bottom right, #ff7f3f, #fd915b, #fda579);*/
  background-color: #57c6ff;
}

.color1-2 {
  /*background-color: rgba(255, 229, 63, .7);*/
  /*background: linear-gradient(to bottom right, #ffe53f, #ffe95c, #ffed7a);*/
  background-color: #49a7d7;
}

.color1-3 {
  /*background-color: rgba(63, 197, 255, .7);*/
  /*background: linear-gradient(to bottom right, #3fc5ff, #5acdff, #71d3fe);*/
  background-color: #3a85ab;
}

.blanco {
  background-image: #FFFFFF;
}

.degradado-procesos {
  border-radius: 10px;
  box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 
  15px 15px 16px gray !important;
  border: 1px solid #555555;
  margin: 0em 0em 3em 0em;
  padding: 3em 3em 3em 3em;
}

/*ajustes para el select2*/
.select2-container .select2-selection--single{
  height:38px;
  padding-top:5px;
}

.select2-container .select2-selection--multiple{
  /* height:38px; */
  padding-top:2px;
}

/* responsive font */
.text-responsive { font-size: 1rem; }

@media (min-width: 576px) {
    .text-responsive { font-size: 1rem; }
}
@media (min-width: 768px) {
    .text-responsive { font-size: 1.3rem; }
}
@media (min-width: 992px) {
    .text-responsive { font-size: 1.4rem; }
}
@media (min-width: 1200px) {
    .text-responsive { font-size: 1.5rem; }
}
